.node:not(.loading) {
    fill: radial-gradient(lightblue, white);
    stroke: #000;
    stroke-width: 0.5px;
  }

.mmif-filename {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-shadow: -1px 1px 0 white,
  1px 1px 0 white,
  1px -1px 0 white,
  -1px -1px 0 white;}

.mmif-filename:hover {
  cursor: default;
}

.node:hover:not(.loading) {
  fill: #FFC0CB;
  cursor: pointer;
}

.clicked {
  /* PLACEHOLDER FOR GLOW */
  fill: #FFC0CB;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  z-index: 10 !important;
  /* pointer-events: none; */
}

.tooltip-header {
  cursor: grab !important;
}

.link {
  stroke-opacity: 0.6;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden !important;
}

#filterPanel {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 10px;
  /* height: 90%; */
  max-height: 95%;
  z-index: 1;
  width: 30%;
  overflow-y: scroll;
  /* background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem lightgray); */
}

.card-summary {
  cursor: pointer !important;
}

.short-summary {
  cursor: pointer !important;
}

.long-summary {
  cursor: pointer !important;
}

.mmifPanel {
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: 20px; */
  /* bottom: 20px; */
  right: 800px;
  z-index: 10;
  width: 30%;
  /* background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem lightgray); */
}

#graphWrapper {
  height: 100vh;
  width: 100vw;
  background-color: #F8F8F8;
  position: absolute;
  padding: 0;
  overflow: hidden;
}

#chartWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

#mmifPanel {
  margin-top: 25px;
  text-align: center;
}

.panel-heading {
  /* background-color: lightgray; */
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.panel {
  z-index: 50;
}

.fa-square-caret-down.rotated {
  transform: rotate(180deg);
}

.card-header {
  cursor: pointer;
}

.card {
  position: absolute;
  z-index: 50;
}

.card-footer-item {
  cursor: pointer !important;
}

.panel-content {
  padding: 20px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
}

.titleContainer {
  margin: 10px;
  opacity: 0.75;
  background-color: transparent;
  position: absolute;
}

.dz-message {
  height: 0px !important;
  visibility: hidden !important;
}

.dropzone.dz-drag-hover {
  border-color: #5cb85c;
  background-color: #f5f5f5;
}

.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}

.title .subtitle {
  text-align: left !important;
  align-self: flex-start;
}

.circle {
  z-index: 5;
}

g {
  position: absolute;
  z-index: 5;
}

.hidden {
  display: none;
}

.temp {
  fill: none;
}


@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading {
  stroke: lightgray;
  stroke-width: 10;
  clip-path: polygon(0% 0%, 51% 47%, 100% 0%, 100% 100%, 0% 100%);
  animation: rotation 1s linear infinite;
}  

#sliderWrapper {
  /* margin: 10px;
  margin-left: 50px;
  margin-right: 50px; */
  flex: 1;
  margin-top: 10px;
}

.checkBoxPanel {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.entitytag {
  margin: 5px;
}

/* #checkBoxWrapper {
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  display: flex !important;
  justify-content: space-around !important;
} */



.panel-block {
  background-color: white;
  display: flex;
}

#clusterColorBoxWrapper {
  margin-left: 20px;
}

#filterButton {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

#searchfield {
  margin-top: 20px;
  /* margin-left: 50px;
  margin-right: 50px; */
  margin-bottom: 20px;
  cursor: text;
}

.tooltip-close {
  cursor: pointer !important;
}

#clusterButtonsWrapper {
  display: flex;
  justify-content: space-between;
}

.clusterButton {
  /* flex: 1 !important;
  margin: 10px; */
  width: 100%;
  cursor: pointer !important;
}

.topicModelButton {
  /* flex: 1 !important;
  margin: 10px; */
  width: 100%;
  cursor: pointer !important;
}

#topicBackground {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#returnButton {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: 30%;
  top: 10px;
  height: 48px;
}

#topicChartButton {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: 30%;
  top: 10px;
  height: 48px;
}


#clusterExplanationButton {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: 30%;
  top: 10px;
  height: 48px;
}


.topicButton.inactive {
  display: none;
}

.topicButton.active {
  display: block;
}

.dropdown-content {
  max-height: 13em;
  overflow: scroll !important;
}

/* .card-summary {
  overflow: scroll !important;
} */

/* CAROUSEL STYLES */
.wrap {
  max-width: 900px;
  margin: 0 auto;
}
.glide__slide {
  /* border: 1px solid black; */
  /* line-height: 100px; */
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.glide__arrow {
  background-color: #F0F0F0;
  border: 0px solid #ccc;
  border-radius: 50%;
  color: #404654 !important;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 40px;
  z-index: 10;
  cursor: pointer !important;
}

.glide__arrow--left {
  left: 0;
}

.glide__arrow--right {
  right: 0;
}

#wordCloud {
  padding: 10px;
}

#progressBarWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cloudHover {
  cursor: pointer !important;
}

.cloudSelected {
  fill: black !important;
}

.centeredPanel {
  flex: 1;
  /* width: 100% */
}

.panel-content {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
  /* background-color: white; */
}

.modal-close {
  cursor: pointer !important;
}

.panel.is-primary {
  margin-bottom: 0px !important;
}

.input {
  cursor: text !important;
}

button {
  cursor: pointer !important;
}

.tagField {
  background-color: white;
  margin: 0px !important;
  padding-left: 15px;
  padding-right: 15px;
}

/* #tagContainer {
  margin: 10px;
} */

#topicInputContainer {
  display: flex !important;
  flex-direction: column !important;
}

#tags-block {
  border-bottom: 0px !important;
}

a {
  cursor: pointer !important;
}



/* UPLOAD PAGE */
#uploadBox {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

#uploadProgressContainer {
  margin: 10px;
  margin-top: 20px;
}

.invisible {
  display: none;
}


/* TIMELINE */

#timeline {
  width: 90%;
  height: 300px;
  position: relative;
  border: 1px solid #ccc;
  margin: 5px;
  left: 0px;
  right: 0px;
}
.tick {
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 1px;
  background-color: #000;
}
.bigtick {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 1px;
  background-color: #000;
}
.label {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
}
.selection-box {
  position: absolute;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none; /* Allows clicking through the selection box */
}
.date-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.highlighted {
  background-color: red !important;
}

.clusterSummaryNode {
  fill: lightblue;
  stroke: #000 !important;
  stroke-width: 5px !important;
}

.searchTag {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

.searchTag > * {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer !important;
}