<!DOCTYPE html>
<html data-theme="light">

<head>
    <title>Graph Visualizer</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4cfc692a2d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-quickview/dist/js/bulma-quickview.min.js"></script>

    <!-- Main stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css">

    <!-- Carousel -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/glide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/css/glide.core.min.css">

    <!-- Wrod Cloud -->
    <script src="https://cdn.jsdelivr.net/npm/d3-cloud@1.2.7/build/d3.layout.cloud.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="graphWrapper" class="dropzone">
        <div class="titleContainer">
            <p class="title">Graph Visualizer</p>
            <p class="subtitle">Drag a MMIF file anywhere to upload</p>
        </div>

        <!-- Filter Panel -->
        <div class="panel" id="filterPanel">
            <div class="panel-heading" id="filterHeader">
                <p class="panel-heading-title">Filter Nodes</p>
                <button class="panel-heading-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="panel-content">
                <div class="panel-block">
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide">
                                    <div id="chartWrapper">
                                        <canvas id="pieChart"></canvas>
                                    </div>
                                </li>
                                <li class="glide__slide">
                                    <div id="wordCloud"></div>
                                </li>
                                <li class="glide__slide">
                                    <div id="timeline"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                                < </button>
                                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
                        </div>
                    </div>
                </div>
                <div class="panel-block">
                    <div id="searchTags"></div>
                </div>
                <div class="panel-block">
                    <input class="input" id="searchfield" type="text" placeholder="Search nodes" />
                </div>
                <div class="panel-block">
                    <div class="columns is-vcentered centeredPanel checkBoxPanel">
                        <div class="column is-half">
                            <label class="checkbox">
                                <input type="checkbox" id="showFilenameBox" /> Show filenames
                            </label>
                        </div>
                        <div class="column is-half">
                            <label class="checkbox" id="clusterColorBoxWrapper">
                                <input type="checkbox" id="clusterColorBox" checked="checked" disabled="disabled" />
                                Show cluster colors
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel-block">
                    <div id="sliderWrapper">
                        <h4 class="title is-5" id="sliderText"></h4>
                        <input id="sliderWithValue" class="slider has-output" min="10" max="100" value="45" step="5"
                            type="range">
                        <output for="sliderWithValue"></output>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="columns is-vcentered centeredPanel">
                        <div class="column is-half">
                            <button class="button is-primary clusterButton unclustered">Cluster</button>
                        </div>
                        <div class="column is-half">
                            <button class="button is-info topicModelButton untopicmodeled">Topic Model</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="button is-dark inactive topicButton" id="topicChartButton" onclick="showTopicChart()">Show topic
            chart</button>
        <button class="button is-dark inactive topicButton" id="returnButton" onclick="endTopicMode()">Return to graph
            view</button>
        <button class="button is-dark inactive topicButton" id="clusterExplanationButton" onclick="showClusterExplanations()">Show cluster explanations</button>
    
        <!-- Add topic modal -->
        <div class="modal" id="add-topic">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="panel is-primary">

                    <div class="panel-heading">
                        Add manual topics
                    </div>


                    <div class="panel-content">

                        <div class="panel-block">
                            <p>Add manual topics for <a
                                    href="https://maartengr.github.io/BERTopic/getting_started/zeroshot/zeroshot.html#example"
                                    target="_blank">zero-shot topic modeling.</a><br>
                                If specifying multiple topics (recommended), enter each topic separately.<br>
                                <b>NOTE:</b> If no documents are classified under a specified topic, it will be removed
                                from the topic list and will not appear in the dropdown.
                            </p>
                        </div>

                        <div class="panel-block" id="tags-block">
                            <div class="field tagField">
                                <div class="control">
                                    <div class="tags are-medium" id="tagContainer"></div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-block">
                            <input class="input is-primary" id="topicInput" type="text"
                                placeholder="Enter topic name" />
                        </div>

                        <div class="panel-block">
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link" id="submitTopics">Submit</button>
                                </div>
                                <div class="control">
                                    <button class="button is-link is-light" id="cancelTopics">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="progressBarWrapper"></div>
    </div>
    
    <!-- Very general scripts and helper functions -->

    <!-- Progress bar script -->
    <script>
        function showProgressBar() {
            $("#progressBarWrapper").html(`
                <progress class="progress is-small is-primary" max="100">15%</progress>
            `);
        }

        function hideProgressBar() {
            $("#progressBarWrapper").html("");
        }
    </script>

    <!-- Checkbox script -->
    <script>
        const filenameCheckbox = document.getElementById('showFilenameBox');
        filenameCheckbox.addEventListener('change', () => {
            $(".mmif-filename").css("display", function () {
                return filenameCheckbox.checked ? "block" : "none";
            });
        });

        const clusterColorCheckbox = document.getElementById('clusterColorBox');
        clusterColorCheckbox.addEventListener('change', () => {
            setNodeColors(clusterColorCheckbox.checked);
        });

    </script>

    <!-- Dropzone script -->
    <script>
        let dropzoneInstance;

        const dropzone = new Dropzone(".dropzone", {
            url: "/upload",
            addedfile: function (file) {
                addTempFile(file.name);
            },
            removedfile: function (file) {
                document.body.classList.remove('dz-drag-hover');
            },
            success: function (file, response) {
                addNode(response);
                updateGraph();
                // Reset the Dropzone instance after a successful upload
                dropzoneInstance.removeAllFiles();
            },
            init: function () {
                // Store the Dropzone instance in the variable
                dropzoneInstance = this;
            }
        });

        $(".dz-message").remove();
    </script>


    <!-- Custom assets -->
    <script src="{{ url_for('static', filename='tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='graph.js') }}"></script>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
    <script src="{{ url_for('static', filename='filter-panel.js') }}"></script>
    <script src="{{ url_for('static', filename='topic-model.js') }}"></script>
    <script src="{{ url_for('static', filename='cluster.js') }}"></script>
    <script src="{{ url_for('static', filename='cloud.js') }}"></script>
    <script src="{{ url_for('static', filename='timeline.js') }}"></script>

</body>

</html>