<!DOCTYPE html>
<html>

<head>
    <title>Graph Visualizer</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4cfc692a2d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-quickview/dist/js/bulma-quickview.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="graphWrapper" class="dropzone">
        <div class="titleContainer">
            <p class="title">Graph Visualizer</p>
            <p class="subtitle">Drag a MMIF file anywhere to upload</p>
        </div>

        <!-- Filter Panel -->
        <div class="card" id="filterPanel">
            <header class="card-header" id="filterHeader">
                <p class="card-header-title">Filter Nodes</p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div id="chartWrapper">
                    <canvas id="pieChart"></canvas>
                </div>
                <input class="input" id="searchfield" type="text" placeholder="Search nodes" />
                <div id="checkBoxWrapper">
                    <label class="checkbox">
                        <input type="checkbox" />
                        Show filenames
                    </label>
                </div>
                <div id="sliderWrapper">
                    <h4 class="title is-5" id="sliderText"></h4>
                    <input id="sliderWithValue" class="slider has-output" min="1" max="3" value="1" step="1"
                        type="range">
                    <output for="sliderWithValue"></output>
                </div>
                <div id="clusterButtonsWrapper">
                    <button class="button is-primary clusterButton" onclick="cluster()">Cluster</button>
                    <button class="button is-info clusterButton" onclick="topicModel()">Topic Model</button>
                </div>
            </div>
        </div>
        <button class="button is-dark inactive" id="returnButton" onclick="enableFilterCard()">Return to graph view</button>
    </div>

    <script>
        const searchField = document.getElementById('searchfield');
        searchField.addEventListener('keydown', function(event) {
            if (event.key === "Enter") {
                search(searchField.value);
                updateGraph();
            }
        });

        function search(value) {
            nodes.forEach(node => {
                node.hidden = !(node.summary.includes(value)||node.label.includes(value));
            });
        }
    </script>

    <script>
        function cluster() {
            fetch("/cluster")
                .then(response => response.json())
                .then(data => {
                    nodes = data;
                    numNodes = 4;
                    updateGraph();
                })
        }

        function topicModel() {
            fetch("/topic_model")
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    showTopicModel(data);
                    // getScreenSpace()
                    // nodes = data;
                    // numNodes = 4;
                    // updateGraph();
                })
        }
    </script>


    <!-- Slider script -->
    <script>
        const entitySlider = document.getElementById('sliderWithValue');
        const output = document.querySelector('output[for="sliderWithValue"]');

        output.textContent = entitySlider.value; // Set initial value

        entitySlider.addEventListener('input', () => {
            output.textContent = entitySlider.value;
            const entityNumber = entitySlider.value == 1 ? "entity" : "entities";
            valueSpan = `<span style="color: #FF4A1C !important;">${entitySlider.value}</span>`
            $("#sliderText").html(`Draw links for every ${valueSpan} shared ${entityNumber}`);
            updateGraph();
        });

        const entityNumber = entitySlider.value == 1 ? "entity" : "entities";
        valueSpan = `<span style="color: #FF4A1C !important;">${entitySlider.value}</span>`
        $("#sliderText").html(`Draw links for every ${valueSpan} shared ${entityNumber}`);
        bulmaSlider.attach();
    </script>

    <!-- Checkbox script -->
    <script>
        const filenameCheckbox = document.querySelector('input[type="checkbox"]');
        filenameCheckbox.addEventListener('change', () => {
            $(".mmif-filename").css("display", function () {
                return filenameCheckbox.checked ? "block" : "none";
            });
        });
    </script>



    <!-- Node View -->
    <script type="text/html" id="mmif-node-template">
        {% include 'mmif_node.html' %}
    </script>

    <script>
        $(document).ready(function () {
            $('#mmifPanel').data('panel-state', 'closed');
            var panelContent = $('#mmifPanel').find(".panel-content");
            panelContent.slideToggle("fast");

            $("#statsPanel").resizable({ handles: "w", minWidth: 300 });
            $(".dz-hidden-input").prop("disabled", true);
        });
    </script>

    <script>
        let dropzoneInstance;

        const dropzone = new Dropzone(".dropzone", {
            url: "/upload",
            addedfile: function (file) {
                addTempFile(file.name);
            },
            removedfile: function (file) {
                document.body.classList.remove('dz-drag-hover');
            },
            success: function (file, response) {
                addNode(response);
                updateGraph();
                // Reset the Dropzone instance after a successful upload
                dropzoneInstance.removeAllFiles();
            },
            init: function () {
                // Store the Dropzone instance in the variable
                dropzoneInstance = this;
            }
        });

        $(".dz-message").remove();
    </script>


    <!-- Custom assets -->
    <script src="{{ url_for('static', filename='graph.js') }}"></script>
    <script src="{{ url_for('static', filename='filter-panel.js') }}"></script>
    <script src="{{ url_for('static', filename='mmif-panel.js') }}"></script>
    <script src="{{ url_for('static', filename='topic-model.js') }}"></script>

</body>

</html>